<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{$global['projectname']}}</title>
    <meta name="keywords" content="{{$global['projectname']}}">
    <meta name="description" content="{{$global['projectname']}}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/common.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/validform.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/validform.js"></script>
</head>

<link href="__PUBLIC__/admin/css/validform.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="__PUBLIC__/admin/js/plugins/layer/laydate/laydate.js"></script>
<script src="__PUBLIC__/admin/js/validform.js"></script>
<script src="__PUBLIC__/admin/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>

<link href="__PUBLIC__/admin/css/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="__PUBLIC__/admin/js/plugins/webuploader/webuploader.min.js"></script>
<script src="__PUBLIC__/admin/js/upload.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/plugins/wangEditor/css/wangEditor.min.css">
<script type="text/javascript" src="__PUBLIC__/admin/plugins/wangEditor/js/wangEditor.min.js"></script>

<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><notempty name="row.id">修改<else />添加</notempty>文章信息</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t edit-form"  method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="require-field">*</span>标题：</label>
                    <div class="col-sm-5">
                        <input id="title" name="title" class="form-control" type="text" value="<notempty name='row.title'>{$row['title']}</notempty>" datatype='*'>
                    </div>
                    <div class="Validform_checktip col-sm-2"></div>
                </div>
                <div class="form-group c-m-b">
                    <label class="col-sm-2 control-label"><span class="require-field">*</span>封面图：</label>
                    <div class="col-sm-5">
                        <div id="uploader1" class="webuploader">
                            <div id="fileList1" class="uploader-list" >
                                <notempty name='row.list_pic'>
                                    <div id="Wk_FILEi_1" class="file-item thumbnail upload-state-done">
                                        <img src="{$row['show_list_pic']}" width="100px" height="100px;">
                                        <div class="info"></div>
                                        <div class="file-panel" arc="{$row['show_list_pic']}" style="height: 25px;"><span class="cancel1">删除</span>
                                        </div>
                                    </div>
                                </notempty>
                            </div>
                            <div id="filePicker1" >选择图片</div>
                        </div>
                        <input type="hidden"  name="list_pic" id="list_pic" value="<notempty name='row.list_pic'>{$row['list_pic']}</notempty>" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="require-field">*</span>所属目录</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="category_id" id="category_id" datatype="*">
                            <volist name="categoryList" id="category">
                                <option value="{$category.category_id}" <php>if ($row['category_id'] == $category['category_id']) { echo 'selected'; }</php> >{$category.category_name}</option>
                            </volist>>
                        </select>
                    </div>
                    <div class="Validform_checktip col-sm-2"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="require-field">*</span>文章内容：</label>
                    <div class="col-sm-10" style="height:500px">
                            <textarea id="content" name="content" style="height:420px" >
                                <notempty name='row.content'>{$row['content']}</notempty>
                            </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <notempty name="row.article_id">
                        <input type="hidden" value='{$row.article_id}' name='id'/>
                        </notempty>
                        <button class="btn btn-primary" type="submit">提交表单</button>
                        <a class="btn btn-primary" href="{:U('Admin/Article/index')}">返回列表</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month=nowDate.getMonth()+1;
        var day = nowDate.getDate();
        var timeStr =''+year+month+day;

        //图片上传
        createUpload(1,"#list_pic",1, "{:U('Admin/Public/uploadImg')}" + "&path=Public/uploadListImg/" + timeStr);

        // 生成编辑器
        var textArea = document.getElementById('content');
        var editor = new wangEditor(textArea);
        editor.config.uploadImgUrl = "{:U('Admin/Public/uploadImgByEditor')}" + '&path=Public/uploadArticleImg/' + timeStr;
        editor.config.uploadHeaders = {
            'Accept' : 'text/x-json'
        };
        editor.config.uploadImgFileName = 'file';
        editor.config.uploadImgMaxLength = 50;
        editor.create();


        $(".edit-form").Validform({
            tiptype: 2,
            beforeSubmit: function() {
                layer.confirm('确定提交信息？', {
                    btn: ['确定', '取消'],
                    shade: false
                }, function() {
                    var data = $('.edit-form').serialize();
                    $.ajax({
                        type: "POST",
                        url: '{:U("Admin/Article/edit")}',
                        data: data,
                        dataType: "json",
                        success: function(data) {
                            if (data['code'] == 1001) {
                                layer.msg(data['msg'], {
                                    time:1000
                                }, function() {
                                    window.location.href = '{:U("Admin/Article/index")}';
                                });
                            } else {
                                layer.msg(data['msg'], {
                                    time:1000
                                });
                                return false;
                            }
                        }
                    });
                });
            },
            callback: function(form) {
                return false;
            }
        });


    });
</script>

</div>
</body>
</html>